name: Unit

on:
  push:
    branches:
      - main
      - zephyr
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
      - zephyr

jobs:
  unit-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - shell: bash
        run: |
          make -j check \
            LIBRPMI_TEST=y \
            LIBRPMI_DEBUG=y \
            EXTRA_CFLAGS="-Wall -Wextra -Wno-unused-parameter -Werror"
